LLAMA_API_KEY=sk-i9...

PUBLIC_SERVER_NAME='LLaMA.cpp Public'
PUBLIC_URL='https://ai-lab...'
PUBLIC_API_KEY='${input:chat.lm.secret.-5b1abccd}'

LOCAL_SERVER_NAME='LLaMA.cpp Local'
LOCAL_URL='http://172.16.1.110:10005/v1/chat/completions'
LOCAL_API_KEY='${input:chat.lm.secret.-4b1abccd}'
LOCAL_ACTUAL_CONFIG_FILE='/home/<user>/.config/Code/User/chatLanguageModels.json'
